.twitter-feed {
	padding: 0 0 50px 0;
	min-height: 600px;

	& img {
		border-radius: 5px;
	}

	& .user-banner {
		width: 100%;
	}

	& .home-user {
		margin-top: 20px;
		& .user-box {
			padding: 10px;
			background-color: $user-box-back;
			border: 1px solid $feed-border;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin: 0;

			.media-body {

				& textarea {
					height: 100%;
					vertical-align: top;
				}

				& .btn-tweet {
					margin-top: 10px;
				}

				& .form-group {
					margin: 0;
				}
			}
		}
	}

	& .home-timeline {
		& .single-tweet-box {
			padding: 10px;
			border: 1px solid $feed-border;
			border-radius: 0;
			background-color: $tweet-box-back;
			margin: 0;
		}
	}
}
