<article class="twitter-feed container-fluid">
	<section class="user-banner"
		back-img={{ctrl.user.profile_banner_url}}>
	</section>
	<section class="container">
		<h3>Feed</h3>
		<section class="row home-user">
			<div class="col-md-12">
				<div class="media user-box">
				  	<div class="media-left">
					    <a ng-href="http://twitter.com/{{ctrl.user.screen_name}}" target="_blank">
					      <img  class="media-object" 
					      		ng-src="{{ctrl.user.profile_image_url}}" 
					      		alt="User profile">
					    </a>
				  	</div>
					<div class="media-body">
						<form novalidate name="tweetForm">
							<div class="form-group">
								<textarea elastic 
									class="form-control"
									name="tweetArea"
									ng-class="{ 'has-error' : tweetForm.tweetArea.$error.maxlength && !tweetForm.tweetArea.$pristine }"
									ng-model="ctrl.newTweet" 
									placeholder="What's happening?"
									ng-maxlength="140"
									ng-required="true">
								</textarea>
								<p class="help-block"
									ng-show="tweetForm.tweetArea.$error.maxlength && !tweetForm.tweetArea.$pristine">
									Max length is 140 characters.
								</p>
								<button
									ng-disabled="tweetForm.tweetArea.$invalid"
									class="btn btn-primary btn-tweet" 
									ng-click="ctrl.postTweet()"> 
									<i class="fa fa-twitter" aria-hidden="true"></i>
									<span>Tweet</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="row home-timeline">
			<div class="col-md-12">
				<div class="media single-tweet-box" ng-repeat="tweet in ctrl.feed">
				  	<div class="media-left">
					    <a ng-href="http://twitter.com/{{tweet.user.screen_name}}" target="_blank">
					      <img  class="media-object" 
					      		ng-src="{{tweet.user.profile_image_url}}" 
					      		alt="User profile">
					    </a>
				  	</div>
					<div class="media-body">
						<h4 class="media-heading" ng-bind="tweet.user.name"></h4>
						<p ng-bind="tweet.text"></p>
					</div>
				</div>
			</div>
		</section>
	</section>
</article>
