.btn-leading {
    background-color: transparent;
    border-width: 2px;
    border-color: $btn-leading-border;
    color: $btn-leading-color;

    &:hover, .btn:hover, .btn:focus, .btn.focus {
        color: $btn-leading-color;
        border-color: $btn-leading-border;
        background-color: rgba(0, 0, 0, 0.3);
    }

    & i {
        margin-right: 10px;
    }
}

.btn-secundary {
	background-color: $btn-secundary-hover-back;
    border-width: 1px;
    border-color: $btn-secundary-border;
    color: $btn-secundary-hover-color;
    font-weight: 500;

    &:hover, .btn:hover, .btn:focus, .btn.focus {
        border-color: $btn-secundary-hover-border;
        background-color: $btn-secundary-hover-color;
    }	
}
