body {
	font-family: $rubik;
	background-color: $background-color;
}

.centralize {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: flex;
  	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.full-height {
	height: 100%;
}
