<nav class="navbar navbar-default navbar-fixed-top material-navbar">
	<div class="container">
		<div class="navbar-header">
			<a href class="navbar-brand" ng-click="ctrl.reloadPage()">
				<span class="brand-text">tweet.it</span>
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
		</div>
		<div class="navbar-text navbar-right">
			<span ng-if="!ctrl.isAuthenticated()" 
				class="navbar-link" 
				ng-click="ctrl.codebirdAuthentication()"> Sign in
			</span>
			<span ng-if="ctrl.isAuthenticated()" 
				class="navbar-link" 
				ng-click="ctrl.signOut()"> Sign Out
			</span>
		</div>
	</div>
</nav>