<article class="welcome container">
	<div class="row full-height centralize">

		<div ng-if="!ctrl.pinIsRequired" class="col-md-offset-7 col-md-5 text-center">
			<h1>Share your life</h1>
			<h2>The best way to share moments on Twitter</h2>
			<button class="btn btn-lg btn-primary" ng-click="ctrl.codebirdAuthentication()">
				<i class="fa fa-twitter" aria-hidden="true"></i>
				<span>Sign in with Twitter</span>
			</button>
		</div>

		<div ng-if="ctrl.pinIsRequired" class="col-md-12 text-center">
			<div class="jumbotron">
				<h3>Enter your PIN</h3>
				<form action="">
					<div class="form-group">
						<label for="pin">Enter your PIN to complete the authorization proccess</label>
						<input id="pin" 
							type="text" 
							class="form-control" 
							ng-model="ctrl.pin" 
							placeholder="PIN NUMBER">
					</div>
					<a href class="btn btn-secundary" ng-click="ctrl.setPinNumber()">Verify</a>
				</form>
			</div>
		</div>
		
	</div>
</article>